h1 {
    text-align: center;
    font-size: 36px;
}

.description {
    text-align: center;
    font-size: 18px;
}

form {
    text-align: center;
}

form label {
    width: 100px;
    text-align: right;
    display: inline-block;
    margin: 5px;
}

form select {
    text-align: left;
    display: inline-block;
    margin: 5px;
}

a {
    color: #216cd3;
}

a:hover {
    color: #21b8d3;
}

cover {
    margin-bottom: 10%;
    text-align: center;
    padding: 35px;
}

footer {
    margin-top: 10%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 35px;
    font-size: 13px;
    color: #666;
}

div {
    text-align: center;
    margin: 5px;
}

.Q {
    font-weight: bold;
    font-size: medium;
}

.A {
    font-size: medium;
}

table tr,th,td{
    text-align: center;
    width: 200px;
    height: 10px;
    border: 1px solid #ccc;
}

table thead,tbody,tfoot {
    text-align: center;
    width: 100px;
    height: 10px;
    border: 1px solid #ccc;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td input {
    border: 1px;
    width: fit-content;
    height: 100%;
}

.text {
    line-height: 2;
    line-height:20px;
    line-height:200%;
}